<!-- seccion Sobre Mi -->
<head>
    <link rel="stylesheet" type="text/css" href="sobremi.component.css">
</head>
<body>
<section class="seccion-sobremi active" id="SobreMi">
    <div class="sobremi">
        <div class="sobremi-img-container">
            <img src="sobremiimg.jpg" class="sobremi-img" alt="">
            <a class="descargar-cv-btn" href="assets/CVSofíaRodríguezCuggia.pdf" download="CV Sofia Rodriguez Cuggia"> descargar CV </a>
        </div>
        <p class="sobremi-info"> Mi nombre es Sofía Rodríguez Cuggia. Soy periodista deportiva, escritora, jugadora de fútbol y programadora. 
            Nací en Salta Capital pero actualmente estoy viviendo en una residencia universitaria en Recoleta (Ciudad de Buenos Aires).
            Tengo 23 años. 
            Soy autora del cuento "Todo es lucha" del libro Pelota de Papel 3.
            Participé en la Feria Internacional del Libro de Buenos Aires 2019 y en diversas entrevistas en clubes, radios y programas de televisión importantes y en medios independientes autogestionados.
            Jugué al fútbol en Central Norte de Salta, pre selección Argentina Sub 17, selección de Salta sub 17, Club Atlético Platense y en el Club Atlético All Boys.
            El año pasado empecé a estudiar programación en Argentina Programa y este es mi proyecto final en donde aplico todo lo aprendido. Actualmente trabajo de camarera en la empresa Mezcla Eventos. </p>   
    </div>
    
</section>
</body>