<head>
    <link rel="stylesheet" type="text/css" href="skills.component.css">
</head>

<!-- seccion skills -->
<section class="seccion-skills active" id="Skills">
<div class="seccion-skill">
    <h1 class="heading"> skills </h1>
    <div class="skills-container">
         <div class="skill-card">
             <img src="html.png" class="skill-img" alt=" ">
            <div class="skill-level">95%</div>
            <h1 class="skill-name">HTML</h1>
            <p class="skill-info">con ganas de llegar al 100%</p>
         </div>
         <div class="skill-card">
              <img src="css.png" class="skill-img" alt=" ">
              <div class="skill-level">90%</div>
              <h1 class="skill-name">CSS</h1>
              <p class="skill-info">el que más me cuesta, sigo aprendiendo</p>
         </div>
         <div class="skill-card">
               <img src="js.png" class="skill-img" alt=" ">
               <div class="skill-level">95%</div>
                <h1 class="skill-name">JS</h1>
                <p class="skill-info">con ganas de llegar al 100%</p>
         </div>
    </div>
    </div>
</section>
